@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll
}

body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 12px
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%
}

input,
select,
textarea,
button,
label {
    font-size: 100%;
    vertical-align: middle
}

input,
select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

fieldset,
img,
iframe {
    border: 0 none
}

img {
    vertical-align: middle
}

textarea {
    resize: none
}

th,
td {
    text-align: left
}

em,
address {
    font-style: normal
}

a {
    text-decoration: none
}

a:hover,
a:active,
a:focus {
    text-decoration: none
}

menu,
li {
    list-style: none
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    vertical-align: middle;
    background: none;
    font-family: 'Noto Sans', Helvetica, sans-serif;
}

caption {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden
}

hr {
    display: none
}

i,
em,
address {
    font-style: normal
}

label {
    cursor: pointer
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    padding: 30px 0;
    background-color: #333;
}

.wrap_nav {
    width: 100%;
    margin-bottom: 50px;
    height: 50px;
    background-color: indianred;
}

h1 {
    padding: 0 0 50px;
    font-size: 35px;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
}

h2 {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ddd;
    font-weight: normal;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    font-size: 0;
}

nav a {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-decoration: none;
}

nav a:hover {
    color: #ffe800;
}

.btn-1 a:after {
    content: "";
    display: block;
}

/* left-right-full */
.btn-1 a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #ffe800;
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-1 a:hover:after {
    width: 100%;
}